@font-face {
    font-family: FNBTS;
    font-weight: 400;
    src: url("../fonts/FNBTS/FNBTS.ttf");
}
body {
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    background-size: cover;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {

}
.logotip {
    max-width: 85px;
    max-height: 85px;
}
.logo {
    display: flex;
    padding-right: 20px;
}
.slot img:hover {
    transform: scale(1.5);
    background: rgb(90, 29, 31, 0);
}
.slot img {
    transition: 0.3s; /* Время эффекта */
}
.HUIBLUYAT {
    background: rgb(90, 29, 31, 0.8);
    width: 100%;
    max-height: 85px;
    border-radius: 30px;
    border: 2px solid rgb(221, 96, 96, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links {
    padding-left: 20px;
    display: flex;
    gap: 20px;
}
.link {
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    font-family: FNBTS;
}
.main {
    padding-top: 70px;
    display: flex;
    justify-content: center;
}
.textblock {
    background: rgb(90, 29, 31, 0.8);
    max-width: 1440px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid rgb(221, 96, 96, 1);
    margin-bottom: 120px;
}
.ntext {
    padding: 20px;
}
.text {
    font-size: 24px;
    color: #fff;
    font-family: FNBTS;
}
.tovar {
    display: flex;
    padding: 50px;

}
.zagolovok {
    text-align: center;
    font-family: FNBTS;
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    margin: 38px;
}
.slot {
    display: flex;
    background: rgb(90, 29, 31, 0.75);
    max-width: 300px;
    max-height: 500px;
    flex-wrap: wrap;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slot img {
    max-width: 300px;
    max-height: 300px;
    background: rgb(90, 29, 31, 1);
}
.slot p {
    margin: 10px;
    font-size: 28px;
    color: #FFF;
    font-family: FNBTS;
}
.buy {
    margin: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    background: #FFF;
    font-family: FNBTS;
    font-size: 32px;
}
.form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.enableknopka {
    margin-right: -10px;
}
#enableknopka:not(:checked) ~ #knopka {
    user-select: none !important;
    background-color: #696969 !important;
    cursor: default;
    outline: none;
    pointer-events: none !important;
}
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {

}
.footer__inner {
    bottom: 0;
    background: rgb(90, 29, 31, 0.8);
    border: 2px solid rgb(221, 96, 96, 1);
    max-height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    width: 100%;
}
.fottext {
    font-family: FNBTS;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    margin: 20px;
}
.order {
    margin: 20px 20px 20px 45px;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    background: #FFF;
    font-family: FNBTS;
    font-size: 32px;
}
.data {
    background: 0;
    border: 0;
    border-bottom: 2px solid #FFF;
    font-family: FNBTS;
    font-size: 32px;
    color: #FFF;
    max-width: 700px;
    width: 100%
}
.info {
    font-family: FNBTS;
    color: #FFF;
    font-size: 24px;
    padding: 20px;
}
.uslovia {
    color: #8d8d91;
    text-decoration: none;
}
.link {
    transition: 0.2s; /* Время эффекта */
}
.link:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
}
.buy {
    transition: 0.2s;
}
.buy:hover {
    transform: scale(1.1);
}
.logo {
    transition: 0.2s;
}
.logo:hover {
    transform: scale(1.1);
}
.order {
    transition: 0.2s;
}
.order:hover {
    transform: scale(1.1);
}
.data{
    width: 350px;
    transition: width 0.4s;
}
.data:focus{
    width: 700px;
    outline: none;
}